MotoGP-Desktop/xml/circuito.dtd

<!ELEMENT circuito (nombre, longitudCircuito, anchura, fecha, horaInicio, vueltas, localidad, pais, patrocinador, referencias, galeriaFotos, galeriaVideos, puntoOrigen, tramos, vencedor, clasificacionMundial)>

<!ELEMENT nombre (#PCDATA)>
<!ELEMENT longitudCircuito (#PCDATA)>
<!ATTLIST longitudCircuito unidad CDATA #REQUIRED>

<!ELEMENT anchura (#PCDATA)>
<!ATTLIST anchura unidad CDATA #REQUIRED>

<!ELEMENT fecha (#PCDATA)>
<!ELEMENT horaInicio (#PCDATA)>
<!ELEMENT vueltas (#PCDATA)>
<!ELEMENT localidad (#PCDATA)>
<!ELEMENT pais (#PCDATA)>
<!ELEMENT patrocinador (#PCDATA)>

<!-- Referencias -->
<!ELEMENT referencias (referencia+)>
<!ELEMENT referencia (#PCDATA)>
<!ATTLIST referencia src CDATA #IMPLIED>

<!-- Galería de fotos -->
<!ELEMENT galeriaFotos (foto+)>
<!ELEMENT foto EMPTY>
<!ATTLIST foto src CDATA #REQUIRED
                alt CDATA #IMPLIED>

<!-- Galería de videos -->
<!ELEMENT galeriaVideos (video+)>
<!ELEMENT video EMPTY>
<!ATTLIST video src CDATA #REQUIRED>

<!-- Punto origen -->
<!ELEMENT puntoOrigen (longitudOrigen, latitudOrigen, altitudOrigen)>
<!ELEMENT altitudOrigen (#PCDATA)>
<!ELEMENT latitudOrigen (#PCDATA)>
<!ELEMENT longitudOrigen (#PCDATA)>

<!-- Tramos del circuito -->
<!ELEMENT tramos (tramo+)>
<!ELEMENT tramo (distancia, longitud, latitud, altitud, sector)>
<!ELEMENT distancia (#PCDATA)>
<!ATTLIST distancia unidad CDATA #REQUIRED>
<!ELEMENT altitud (#PCDATA)>
<!ELEMENT latitud (#PCDATA)>
<!ELEMENT longitud (#PCDATA)>
<!ATTLIST longitud unidad CDATA #REQUIRED>
<!ELEMENT sector (#PCDATA)>

<!-- Vencedor -->
<!ELEMENT vencedor (nombre, tiempo)>
<!ELEMENT tiempo (#PCDATA)>

<!-- Clasificación mundial -->
<!ELEMENT clasificacionMundial (piloto, piloto, piloto)>
<!ELEMENT piloto (#PCDATA)>
