xml/circuito.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://www.uniovi.es" elementFormDefault="qualified" targetNamespace="http://www.uniovi.es" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="circuito">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="nombre" />
				<xs:element ref="longitudCircuito" />
				<xs:element ref="anchura" />
				<xs:element ref="fecha" />
				<xs:element ref="horaInicio" />
				<xs:element ref="vueltas" />
				<xs:element ref="localidad" />
				<xs:element ref="pais" />
				<xs:element ref="patrocinador" />
				<xs:element ref="referencias" />
				<xs:element ref="galeriaFotos" />
				<xs:element ref="galeriaVideos" />
				<xs:element ref="puntoOrigen" />
				<xs:element ref="tramos" />
				<xs:element ref="vencedor" />
				<xs:element ref="clasificacionMundial" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="nombre" type="xs:string" />

	<xs:element name="longitudCircuito">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="longitudCircuitoType">
          <xs:attribute name="unidad" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="metros"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:simpleContent>
     </xs:complexType>
    </xs:element>

    <xs:simpleType name="longitudCircuitoType">
     <xs:restriction base="xs:decimal">
       <xs:minExclusive value="0"/>
     </xs:restriction>
    </xs:simpleType>

	<xs:element name="anchura">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="anchuraType">
          <xs:attribute name="unidad" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="metros"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:simpleContent>
     </xs:complexType>
    </xs:element>
    <xs:simpleType name="anchuraType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="5"/>
     </xs:restriction>
    </xs:simpleType>

	<xs:element name="fecha" type="xs:date" />
	<xs:element name="horaInicio" type="xs:time" />

	<xs:element name="vueltas">
		<xs:simpleType>
			<xs:restriction base="xs:positiveInteger"/>
		</xs:simpleType>
	</xs:element>

	<xs:element name="localidad" type="xs:string" />
	<xs:element name="pais" type="xs:string" />
	<xs:element name="patrocinador" type="xs:string" />
	
	<xs:element name="referencias">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="1" maxOccurs="unbounded" ref="referencia" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="referencia">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="src" type="xs:anyURI" />
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>

	<xs:element name="galeriaFotos">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="foto" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="foto">
    <xs:complexType>
      <xs:attribute name="src" type="xs:anyURI" use="required"/>
      <xs:attribute name="alt" type="xs:string"/>
    </xs:complexType>
  </xs:element>

	<xs:element name="galeriaVideos">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="video" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="video">
    <xs:complexType>
      <xs:attribute name="src" type="xs:anyURI" use="required"/>
    </xs:complexType>
  </xs:element>

	<xs:element name="puntoOrigen">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="longitudOrigen"/>
        <xs:element ref="latitudOrigen"/>
        <xs:element ref="altitudOrigen"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="longitudOrigen" type="lonType"/>
  <xs:element name="latitudOrigen" type="latType"/>
  <xs:element name="altitudOrigen" type="altType"/>

  <!-- Tipos para coordenadas -->
  <xs:simpleType name="latType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="-90"/>
      <xs:maxInclusive value="90"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="lonType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="-180"/>
      <xs:maxInclusive value="180"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="altType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="tramos">
  <xs:complexType>
    <xs:sequence>
      <xs:element ref="tramo" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="tramo">
  <xs:complexType>
    <xs:sequence>
      <xs:element ref="distancia"/>
      <xs:element ref="longitud"/>
      <xs:element ref="latitud"/>
      <xs:element ref="altitud"/>
      <xs:element ref="sector"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

<xs:element name="distancia">
  <xs:complexType>
    <xs:simpleContent>
      <xs:extension base="distanciaType">
        <xs:attribute name="unidad" use="required">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="metros"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:element>

<xs:simpleType name="distanciaType">
  <xs:restriction base="xs:decimal">
    <xs:minInclusive value="0"/>
  </xs:restriction>
</xs:simpleType>

<xs:element name="latitud" type="latType"/>
<xs:element name="longitud" type="lonType"/>
<xs:element name="altitud" type="altType"/>
	<xs:element name="sector" type="xs:string" />
	<xs:element name="vencedor">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="nombre" />
				<xs:element ref="tiempo" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="tiempo" type="xs:duration" />
	<xs:element name="clasificacionMundial">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="piloto" />
				<xs:element ref="piloto" />
				<xs:element ref="piloto" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="piloto" type="xs:string" />
</xs:schema>